
.posts {
  margin: 0;
  padding: 0 1rem
}

.posts ul {
    margin-bottom: 5rem;
    padding-left: 0
}

.posts li {
    margin-bottom: 5px;
    list-style-type: none
}
.posts li div {
    padding: 5px 0
}

.post-link .post-title {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.post-link .post-date {
  float: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  line-height: 24px
}
@media (max-width: 57em) {
  .post-link .post-date {
      display: none
  }
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
